<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class='main'>
        <div class='row'>
            <div class='data'>
                {% if data == [] %}
                <p>Hold on, retrieving data from the sensors!</p>
                {% else %}
                    <ul>
                        <li>Latest data:</li>
                        {% for key, value in data[-1].items() %}
                            <li><b>{{key}}</b>&nbsp;:&nbsp;{{value}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class='row'>
            <div class='live-data'>
                {% if data == [] %}
                <p>Hold on, retrieving data from the sensors!</p>
                {% else %}
                    <ul>
                        <li>Data stream:</li>
                        {% for i in data %}
                            <li>
                                {% for key, value in i.items() %}
                                    <b>{{key}}</b>&nbsp;:&nbsp;{{value}}&nbsp;
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>        
    </div>
</body>
</html>